<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Intro</title>
  </head>
  <body>

    <div class="headline">
    <h1>WELCOME TO THE CLOUDPOOL!</h1>
    <h6>This is sample intro page...</h6>
    </div>

    <br>

    <div class="content">
    <h3><a href="/register">Register</a></h3>
    <h3><a href="/login">Login</a></h3>
    <h3><a href="/logout">Logout</a></h3>
    </div>





    <style>

    .headline {
      margin: 15px
    }

    .content {
      margin: 15px
    }

    </style>



  </body>
</html>
