<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Intro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
  <div class="ground">
    <div class="title">
      <h1>클라우드 풀에 오신걸 환영합니다~♥</h1><br>
      <h3>모든 드라이브를 한자리에서 관리해보세요!</h3>
      <img id='intro-img' src="/icons/drive-icon/intro_whale.png" alt="출처 - 네이버 라인 스토어">
    </div>
    <br>

    <div class="link-container">
        <!-- 세션값 있을 시, register, login은 보이지 않아야 함  -->
      <% if(!isUser) { %>
        <div class="button-link"><a href="/login"><button type="button" class="btn btn-outline-primary">로그인</button></a></div>
        <div class="button-link"><a href="/register"><button type="button" class="btn btn-outline-primary">회원가입</button></a></div>
      <% } else { %>
        <!-- 세션값 없을 시, logout은 보이지 않아야 함 -->
        <div class="button-link"><a href="/logout"><button type="button" class="btn btn-outline-primary">로그아웃</button></a></div>
      <% } %>
    </div>
  </div>





  <style>

    h1 {
      font-family: 궁서
    }

    .title {
      display: flex;
      align-items : center;
      flex-direction: column;
    }

    .ground {
      margin: 100px 20px 50px 20px;
    }

    .link-container {
      display: flex;
      justify-content: center;
    }

    .button-link {
      margin: 20px;
      font-size: 20px;
    }

    .content {
      margin: 15px;
    }

    #intro-img {
      width: 300px;
      height: 300px;
    }
  </style>



</body>

</html>
