<div class="card">
  <div class="card-title"><img id="google-img" src="icons\drive-icon\google.png" alt=""></div>
  <div class="card-body">
    <div>
      <p class="text-muted m-b-15 f-s-12">연결상태: <span id="google-connect_state"></span></p>
    </div>
    <div>
      <!-- 연결상태에 따라 둘 중 하나만 보이게 -->
      <a href="<%= google_url %>"><button type="button" class="btn btn-info m-b-10 m-l-5">연결</button></a>
      <button type="button" class="btn btn-danger m-b-10 m-l-5">연결해제</button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-title"><img id="dropbox_img" src="icons\drive-icon\dropbox.png" alt=""></div>
  <div class="card-body">
    <div>
      <p class="text-muted m-b-15 f-s-12">연결상태: <span id="box-connect_state"></span></p>
    </div>
    <div>
      <!-- 연결상태에 따라 둘 중 하나만 보이게 -->
      <a href="/dropbox/token"><button type="button" class="btn btn-info m-b-10 m-l-5">연결</button></a>
      <button type="button" class="btn btn-danger m-b-10 m-l-5">연결해제</button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-title"><img id="box-img" src="icons\drive-icon\box_blue.png" alt=""></div>
  <div class="card-body">
    <div>
      <p class="text-muted m-b-15 f-s-12">연결상태: <span id="dropbox-connect_state"></span></p>
    </div>
    <div>
      <!-- 연결상태에 따라 둘 중 하나만 보이게 -->
      <a href=""><button type="button" class="btn btn-info m-b-10 m-l-5">연결</button></a>
      <button type="button" class="btn btn-danger m-b-10 m-l-5">연결해제</button>
    </div>
  </div>
</div>

<style>

  #google-img{
    width: 50px;
    height: 50px;
  }
  #dropbox-img{
    width: 50px;
    height: 47px;
  }
  #box-img{
    width: 50px;
    height: 26px;
  }
</style>

<script>


</script>
