<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <title>로그인</title>
  <!-- Bootstrap Core CSS -->
  <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="css/helper.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
  <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">

    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>로그인</h4>
                <form name='loginAction' id="loginForm" action="/auth/login" method="post">
                  <div class="form-group">
                    <label>이메일</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="user123@email.com">
                  </div>
                  <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
                  </div>
                  <div class="checkbox">
                    <label>
        							<input type="checkbox"> Remember me
                    </label>
                    <label class="pull-right">
                      <a href="#">비밀번호를 잊으셨나요?</a>
                    </label>
                  </div>
                  <button type="button" onClick="login()" class="btn btn-primary btn-flat m-b-30 m-t-30">로그인</button>
                  <div class="register-link m-t-15 text-center">
                    <p>계정이 없으세요? <a href="/register"> 회원가입</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Wrapper -->
  <!-- All Jquery -->
  <script src="js/lib/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="js/lib/bootstrap/js/popper.min.js"></script>
  <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="js/jquery.slimscroll.js"></script>
  <!--Menu sidebar -->
  <script src="js/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <!--Custom JavaScript -->
  <script src="js/scripts.js"></script>

  <script>
    function login() {
      // 빈칸 체크
      // 비밀번호 길이 영어숫자 확인
      var email = $('#email').val();
      var pw = $('#password').val();
      var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i; // email check

      if (email == '' || pw == '') {
        alert("모든 칸을 채워주세요.");
      } else {
        if(!re.test(email)){
          alert('이메일 형식을 다시 확인해 주세요');
        } else {
          $('#loginForm').submit();
        }
      }
    }
  </script>

</body>

</html>
