/*

  # Author: Hang , Choraffe
  # Developer by: Hang , Choraffe

  # Description
  This css file is for customizing cloudpool's css styles. For adapting this
  style, the view file must import this file at the last on head tag.

  # The class and id must contain its own identifier to be differentiated from
  existing css styles.
  Ex) .cl-header, #cl-specific-title

  Table of Content
  ================
  1.
  2.

*/

/* login-page */
body.login-body {
  background: rgb(55, 76, 116);
  height: 100%;
}

body.login-body .btn-primary {
    background: rgb(55, 76, 116);
    border: 1px solid rgb(39, 55, 84);
}

body.login-body .btn-primary:hover {
    background: rgb(17, 26, 46);
    border: 1px solid rgb(39, 55, 84);
}

body.login-body header {
  padding: 20px;
  position: fixed;
}

body.login-body .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: Source Sans Pro;
}

body.login-body .login-form label a,
body.login-body .register-link a {
  color: #1976d2;
}

/* register-page */
body.register-body {
  background: rgb(55, 76, 116);
  height: 100%;
}

body.register-body .btn-primary {
    background: rgb(55, 76, 116);
    border: 1px solid rgb(39, 55, 84);
}

body.register-body .btn-primary:hover {
    background: rgb(17, 26, 46);
    border: 1px solid rgb(39, 55, 84);
}

body.register-body header {
  padding: 20px;
  position: fixed;
}

body.register-body .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: Source Sans Pro;
}

body.register-body .login-form label a,
body.register-body .register-link a {
  color: #1976d2;
}

body.register-body .login-content {
  margin: 15% 0;
}

body.register-body .container-fluid {
    padding: 0px;
}


/* footer override */
.board-body .footer {
  background: #ffffff none repeat scroll 0 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  color: #67757c;
  right: 0px;
  position: fixed;
  bottom: 0px;
  padding: 3px 10% 3px 3px;
  margin: 0px;
  text-align: right;
}

/* header override */

.board-body .header {
  background: #3373af;
}

.board-body .header .top-navbar .navbar-header {
  background: #3373af;
}

.board-body .header .top-navbar .navbar-header .navbar-brand span{
  color: #fff;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  font-size: 2rem;
}

.board-body .header .top-navbar .navbar-header .navbar-brand b{
  color: #fff;
  font-weight: 700;
  font-family: 'Source Sans Pro';
  font-size: 2rem;
}

.board-body .header .top-navbar .ti-menu, .header .top-navbar .ti-search {
  font-size: 20px;
  color: #fff;
}

.board-body .header .navbar-collapse .nav-toogler,
.board-body .header .navbar-collapse .sidebartoggler {
  display: none;
}

@media (max-width: 767px){
  .board-body .header .top-navbar .navbar-header {
    width: 240px;
  }

  .board-body .header {
    position: relative;
  }
}


/* left sidbar */
.left-sidebar {
    padding-top: 54px;
}

.sidebar-nav > ul > li > a.active {
    font-weight: 500;
    background: #e8e8e8;
    color: #60a5e8;
}

.sidebar-nav ul li a:hover {
  color: #fff;
  background: rgba(48, 126, 186, 0.5);
}

.sidebar-nav ul li a {
    color: #607d8b;
    padding: 20px 35px 15px 20px;
    display: flex;
    font-size: 14px;
    white-space: nowrap;
}
.sidebar-nav ul li span {
  display: inline-block
}

.sidebar-nav ul li .nav-ico {
  margin-right: 20px;
}

.sidebar-nav ul li .dashboard-ico {
  width: 20px;
  height: 20px;
  background: url('../icons/drive-icon/speedometer.png') no-repeat;
  background-size: contain;
}


.sidebar-nav ul li .google-ico {
  width: 20px;
  height: 20px;
  background: url('../icons/drive-icon/google.png') no-repeat;
  background-size: contain;
}

.sidebar-nav ul li .dropbox-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../icons/drive-icon/dropbox.png') no-repeat;
  background-size: contain;
}

.sidebar-nav ul li .box-ico {
  width: 20px;
  height: 20px;
  background: url('../icons/drive-icon/box_round.ico') no-repeat;
  background-size: contain;
}

.sidebar-nav ul li .connect-ico {
  width: 20px;
  height: 20px;
  background: url('') no-repeat;
  background-size: contain;
}

.sidebar-nav ul li .split-ico {
  width: 20px;
  height: 20px;
}


/* page-wrapper */

.page-titles .replace-title{

}

@media (max-width: 1023px){
  .page-wrapper {
      margin-left: 240px;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
  }
}

/* table */
.board-body .table-hover tbody tr:hover {
    background-color: rgba(48, 126, 186, 0.1);
    cursor: pointer;
}

.board-body .table-hover tbody tr.active {
    background-color: rgba(48, 126, 186, 0.2);
}

.board-body .table-hover .checkbox {
  visibility: hidden;
}

.board-body table .folder-row td img,
.board-body table .file-row td img {
  width: 36px;
  height: 36px;
}

/* toast CSS */

#toast {
  display: none;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}

#toast #img {
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}

#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px
  }
  to {
    min-width: 350px
  }
}

@keyframes expand {
  from {
    min-width: 50px
  }
  to {
    min-width: 350px
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px
  }
  to {
    min-width: 350px
  }
}

@keyframes stay {
  from {
    min-width: 350px
  }
  to {
    min-width: 350px
  }
}

@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

/* Right Click Menu */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext);
ul.contextMenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font: 300 12px 'Roboto', sans-serif;
  position: absolute;
  color: #333;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
}

ul.contextMenu * {
  transition: color .4s, background .4s;
}

ul.contextMenu li {
  min-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ecf0f1;
}

ul.contextMenu li i {
  margin-right: 15px;
}

ul.contextMenu li a {
  color: #333;
  text-decoration: none;
}

ul.contextMenu li:hover {
  background-color: #ecf0f1;
}

ul.contextMenu li:first-child {
  border-radius: 5px 5px 0 0;
}

/*
ul.contextMenu li:last-child{
  background:#f5f5f5;
  border-bottom:0;
  border-radius: 0 0 5px 5px
}
*/

ul.contextMenu li:last-child a {
  width: 26%;
}

ul.contextMenu li:last-child:hover a {
  color: #2c3e50
}

ul.contextMenu li:last-child:hover a:hover {
  color: #2980b9
}

/* Intro Page */

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #f8f9fa;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
    color: #f8f9fa;
  }
}

.text-center {
  text-align: center !important;
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}

.masthead .text-center .mb-5, .my-5 {
  color: #f8f9fa;
  font-size: 3.5rem;
  font-weight: lighter;
}

.mb-5 em {
  font-style: normal !important;
}

.intro-button-group .btn {
  font-weight: 700;
  margin: 2rem;
  padding: 1.0rem 2.5rem;
}

.masthead {
  padding-top: 4rem;
}

/* dropzone */

.dropzone {
  border: 3px dotted #8a8a8a;
  width: 100%;
  min-height: 100px !important;
  color: #8a8a8a;
  font-weight: 500;
  text-align: center;
  line-height: 100px;
  font-size: 1.1rem;
  padding-top: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dash-board .current-folder {
  display: none;
}

/*
.table-position {
  position:relative;
}

.dropzone-mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color: rgba(2, 142, 225, 0.3);
  display:none;
}
*/




/* function state */
.board-body .mv-file-info-box,
.board-body .del-file-info-box,
.board-body .cg-file-info-box,
.board-body .sh-file-info-box,
.board-body .mk-folder-info-box {
  visibility: hidden;
  position: fixed;
  height: 120px;
  width: 300px;
  right: 20px;
  bottom: -120px;
  padding: 0px
}

.popcard-title {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(85, 85, 85);
}

.popcard-title span {
  padding: 5px;
  line-height: 30px;
}

.popcard-content {
  height: 100%;
  margin: 20px 10px 20px 10px;
}

.popcard-content span.popcard-content-text {
  padding: 30px;
  padding-left: 15px;
  font-weight:bolder;
  font-size: 14px;
  color: rgb(75, 75, 75);
  line-height: 50px;
}

.popcard-content span.loading-img {
  width: 14px;
  height: 14px;
  padding: 20px;
  padding-top: 12px;
  background: url('../images/loading1.gif') no-repeat;
  background-size: contain;
}
